<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CapellaDataTest" connectionString="Data Source=fensqlmrd17;Initial Catalog=MR_XRG_Capella_Demo;"/>
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <source name="mdx"  switchName="InfoSwitch">
        <listeners>
          <add name="console"
            type="System.Diagnostics.ConsoleTraceListener">            
          </add>          
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="InfoSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add type="System.Diagnostics.ConsoleTraceListener" name="consoleListener"
                traceOutputOptions="None" />
    </sharedListeners>
  </system.diagnostics>
</configuration>